body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  font-size: 18px;
  min-height: 40px;
}

@media (max-width: 572px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 1rem;
  }
  .header-options {
    margin-right: 0;
    width: 100%;
    justify-content: space-around;
  }
}

.header-options {
  position: relative;
  display: flex;
  gap: 15px;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

.header-options p {
  position: relative;
  padding-bottom: 4px;
}

.header-options .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e10600;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
  border: solid black;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(135, 135, 135);
  padding: 0;
  overflow: hidden;
}

.card-header {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem;
  color: white;
  background-color: #e10600;
}

.card-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}

/*this is what makes the page responsive to different screen sizes*/
@media (min-width: 0px) {
  .benefits-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 625px) {
  .benefits-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .benefits-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
